.look-info {
    text-align: center;
    background-color: var(--pink);
    padding-top: 198px;
}

.look-title {
    font-size: 20px;
    line-height: 22px;
    color: var(--black);
    margin-bottom: 20px;
}

.look-text {
    width: 752px;
    margin: 0 auto;
}

.look-link-wrapper {
    margin-top: 62px;
    padding-bottom: 426px;
}

.look-donate-link {
    padding: 23px 38px 28px 38px;
    background-color: var(--black);
    color: #fff;
}

.look-about-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding: 24px 36px 24px 35px;
    background-color: #fff;
    margin-left: 25px;
}

.look-img {
    width: 1220px;
    margin-top: - 337px;
}

.look-list {
    display: flex;
    margin-top: 77px;
}

.look-item:first-child {
    margin-right: 74px;
}

.look-item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    margin-bottom: 11px;
}

.look-item-text {
    font-size: 18px;
    line-height: 30px;
    width: 570px;
}

.look-item-second-title {
    width: 573px;
}

.look-container {
    padding-bottom: 176px;
    border-bottom: 1px solid var(--pink);
}